:root {
  --background: #dfdede;
  --text: #354B5E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dfdede;
    --foreground: #dfdede;
  }
}

html,
body {
  /* max-width: 100vw; */
  overflow-x: hidden;
}

body {
  margin: 0;
  color: var(--text);
  background: var(--background);
  font-family: Roboto, Raleway, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

* {
  box-sizing: border-box;
  padding: 0;
  /* margin: 0; */
}

a {
  color: inherit;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
