.AboutMeSection {
  padding: 30px 20px;
}


.title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 900;
}

.subtitle {
  font-size: 24px;
  line-height: 1.6;
  text-indent: 3rem;
  margin-bottom: 30px;
  font-weight: 700;
}



.image1 {
  float: left;
  border-radius: 20;
  margin-right: 20px;
  margin-bottom: 20px;
}

.image2 {
   float: right;
  border-radius: 20;
  margin-left: 20px;
  margin-bottom: 20px;
}


@media (max-width: 768px) {
  .title {
    font-size: 28px;
  }
  .subtitle {
    font-size: 18px;
  }
}
