.section {
    padding: 40px 40px;
    color:#354B5E;
}
.title {
    text-align: center;
    font-size: 38px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 40px;
    color:#354B5E;
}
.list {
    margin: 0;
    margin-bottom: 40px;
    list-style:disc;
}
.preText {
    font-weight: 700;
}

.buttonList {
    display: flex;
    column-gap: 32px;
    margin: 0;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 16px 32px;
    min-width: 240px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    color:#354B5E;
    background-color: rgb(194, 178, 128);
    transition: all 0.3s ease;
}
.btn:hover {
  scale: 1.05;
  color: #E0E0E0;
  background-color: #354B5E;
}
.btn:focus {
  scale: 1.05;
  color: #E0E0E0;
 background-color: #354B5E;
}
.btnText {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

@media (max-width: 768px) {
    .btn {
        padding: 16px 24px;
        min-width: 200px;
    }
    .btnText {
        font-size: 12px;
    }
    .buttonList {
        flex-direction: column;
        row-gap: 18px;
    }
}
