.btn {
    padding: 10px 14px;
    margin-bottom: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.text {
    font-size: 24px;
    color: #354B5E;
    transition: all 0.2s ease;
}
.text:hover, 
.text:focus {
    transform: scale(1.2);
    color: #C2B280;
}

@media screen and (max-width: 768px) {
  .text {
    font-size: 18px;
  }
  
}