.header {
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #C2B280;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}


.nav {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-grow: 1;
}

.underline {
  position: relative;
  display: inline-block;
  color: #333;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 2px;
  background: none;
  border: none;
}

.underline::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #354B5E;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
.underline:hover {
  color: #354B5E;
}
.underline:hover::after {
  width: 100%;
}
/* .navLink {
  color: #333;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  transition: color 0.5s ease;
} */

/* .navLink:hover {
  color: #354B5E;
  border-bottom: 1px solid #354B5E;
} */

.burger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1001;
}

.burgerImage {
  width: 30px;
  height: 30px;
  object-fit: contain;
  transition: opacity 0.3s ease;
}

@media (max-width: 768px) {
  .logo img {
    width: 100px;
    height: auto;
  }

  .nav {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #C2B280;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    z-index: 1000;
  }

  .navOpen {
    display: flex; 
  }

  .navLink {
    font-size: 24px;
  }

  .burger {
    display: block;
  }
}