.partnersSection {
  background-position: center;
  padding: 40px 40px;
  min-height: 100vh;
  text-align: center;
  color:#354B5E;
  border-top: 2px solid #000;
}

.title {
  font-size: 38px;
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 900;
}

.partnersGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  column-gap: 80px;
  row-gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: rgba(194, 178, 128, 0.75);
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}
