.container {
  padding: 40px;
  /* max-width: 1000px; */
  margin: 0 auto;
  background-image: url("../../public/images/MetallWall.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.description {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
  margin-top: 30px;
}

.sliderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.sliderImage {
  border-radius: 12px;
  object-fit: contain;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.arrow {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  transition: transform 0.2s ease;
}

.arrow:hover {
  transform: scale(1.2);
  color: #000;
}
