

.container {
  padding: 40px;
  text-align: center;
	background-image: url("../../public/images/MetallWall.png");
	object-fit: cover;
	background-size: cover; 
}

.title {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #E0E0E0;
}

.textName {
	color: #000;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.card {
  text-decoration: none;
  color: inherit;
  background: #f2f2f2;
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card:hover {
  transform: scale(1.03);
}

.image {
  border-radius: 8px;
  object-fit: cover;
	margin-bottom: 10;
}
