
.boxLink {
  display: flex;
  justify-content: center;
  
} 
.boxLink:hover {
  color: #C2B280;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.btn {
    display: flex;
    padding: 12px 18px;
    border: 1px solid #E0E0E0;
    border-radius: 16px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s ease;
}
.btn:hover {
  scale: 1.05;
  border-color: #C2B280;
}
.btn:focus {
  scale: 1.05;
  border-color: #C2B280;
}
.title {
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    letter-spacing: 0.1em;
    margin-bottom: 48px;
    color: #E0E0E0;
}
.text {
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #E0E0E0;
  transition: color 0.2s ease;
}
.text:hover,
.text:focus {
  color: #C2B280;
}

.bullet {
  margin-left: 12px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-evenly;
  list-style: none;
  margin-bottom: 48px;
}
.item {
  margin: 0;
  padding: 0;
}
.imageProduct {
  border-radius: 28px;
}



@media screen and (max-width: 768px) {
  .title {
    font-size: 24px;
  }
  .text {
    font-size: 14px;
  }
  .btn {
    padding: 8px 12px;
  }
  .bullet {
    width: 40px;
    height: 35px; 
  }
  .imageProduct {
    width: 160px;
    height: 160px;
  }
}