

.container {
  padding: 40px;
  text-align: center;
	/* background-image: url("../../public/images/MetallWall.png"); */
	object-fit: cover;
	background-size: cover; 
}

.title {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #E0E0E0;
  font-weight: 600;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.textName {
  color: #000;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 10px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  padding: 0 20px;
}

.card {
  text-decoration: none;
  color: inherit;
  background: #f2f2f2;
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.image {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .container {
    padding: 30px;
  }

  .title {
    font-size: 1.75rem;
    margin-bottom: 30px;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 15px;
  }

  .card {
    padding: 15px;
  }

  .textName {
    font-size: 1.125rem;
  }

  .image {
    height: 180px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 60px;
    background-attachment: fixed; 
  }

  .title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .grid {
    grid-template-columns: 1fr; 
    gap: 25px;
    padding: 0 10px;
  }

  .card {
    padding: 12px;
  }

  .textName {
    font-size: 1rem;
  }

  .image {
    height: 150px;
  }
}