.container {
  padding: 40px;
  margin: 0 auto;
  color: #354B5E;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 40px;
}
.errorTitle {
  font-size: 48px;
  color: #354B5E;
}
.description {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
  text-indent: 2em;
  margin-top: 30px;
}

.complects {
  font-size: 1.1rem;
  line-height: 1.6;
  white-space: pre-line;
  margin-top: 30px;
}

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  margin-bottom: 30px;
}

.galleryImage {
  border: 8px solid rgba(194, 178, 128);
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 3 / 2; 
  object-fit: fill;
  box-shadow: 0 4px 10px rgba(194, 178, 128, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.galleryImage:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.4rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .complects {
    font-size: 0.9rem;
  }

  .galleryGrid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }

  .galleryImage {
    border-radius: 8px;
    aspect-ratio: 2 / 1;
  }
}
