.section {
  display: flex;
  flex-direction: column;
  padding: 60px 40px;
  min-height: 100vh;
  background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.6),
          rgba(2, 0, 0, 0.6)
        ),
        url("../../public/images/mainB.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.boxLink {
  display: flex;
  margin-top: auto;
} 

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.btn {
    display: flex;
    padding: 6px 32px;
    border: 2px solid #E0E0E0;
    border-radius: 16px;
    cursor: pointer;
    background-color: rgba(224, 224, 224, 0.5);
    transition: all 0.3s ease;
}
.btn:hover {
  scale: 1.05;
  border-color: rgba(194, 178, 128, 0.5);
  background-color: rgba(194, 178, 128, 0.5);
}
.btn:focus {
  scale: 1.05;
  border-color: rgba(194, 178, 128, 0.5);
  background-color: rgba(194, 178, 128, 0.5);
}
.title {
    font-weight: 900;
    font-size: 48px;
    letter-spacing: 0.1em;
    margin: 0;
    margin-bottom: 12px;
    color: #E0E0E0;
}
.textAfter {
  color: #E0E0E0;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 64px;
}
.text {
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #E0E0E0;
  transition: color 0.2s ease;
}

.bullet {
  margin-left: 12px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-evenly;
  list-style: none;
  margin-bottom: 48px;
}
.item {
  margin: 0;
  padding: 0;
}
.imageProduct {
  border-radius: 28px;
}



@media screen and (max-width: 768px) {
  .title {
    font-size: 24px;
  }
  .text {
    font-size: 14px;
  }
  .btn {
    padding: 8px 12px;
  }
  .bullet {
    width: 40px;
    height: 35px; 
  }
  .imageProduct {
    width: 160px;
    height: 160px;
  }
}