.container {
  padding: 40px;
  text-align: center;
  color: #354B5E;
}

.title {
   font-weight: 900;
    font-size: 38px;
    letter-spacing: 0.05em;
    margin-top: 0;
    margin-bottom: 48px;
}

.textName {
  color: #000;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 10px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  padding: 0 20px;
}

.card {
  text-decoration: none;
  color: inherit;
  background-color: rgb(194, 178, 128);
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 15px rgba(194, 178, 128, 0.8);
}

.image {
  border-radius: 8px;
  object-fit: fill;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .container {
    padding: 30px;
  }

  .title {
    font-size: 1.75rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 15px;
  }

  .card {
    padding: 15px;
  }

  .textName {
    font-size: 1.125rem;
  }

  .image {
    height: 180px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 60px;
    background-attachment: fixed; 
  }

  .title {
    font-size: 1.5rem;
  }

  .grid {
    grid-template-columns: 1fr; 
    gap: 25px;
    padding: 0 10px;
  }

  .card {
    padding: 12px;
  }

  .textName {
    font-size: 1rem;
  }

  .image {
    height: 150px;
  }
}