.container {
  padding: 40px;
  margin: 0 auto;
  color: #354B5E;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 40px;
}
.errorTitle {
  font-size: 48px;
  color: #354B5E;
}
.description {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
  text-indent: 2em;
  margin-top: 30px;
}

.complects {
  font-size: 1.1rem;
  line-height: 1.6;
  white-space: pre-line;
  margin-top: 30px;
}

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  margin-bottom: 30px;
}

.galleryImage {
  border: 4px solid #354B5E;
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 3 / 2; 
  object-fit: fill;
  box-shadow: 0 4px 10px rgba(194, 178, 128, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.galleryImage:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.8);
}
.featuresTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 30px;
}
.featuresItem {
  display: flex;
  /* flex-wrap: wrap; */
  /* align-items:flex-start; */
  /* justify-content: space-between; */
}
.featuresImg {
  margin-right: 12px;
  margin-top: 10px;
}
.featuresName {
  font-weight: 600;
  display: flex;
  align-items: center;
}
.featuresText {
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 15px;
  color: #938661;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.4rem;
  }
 .featuresTitle {
  font-size: 1.2rem;
 }
 .featuresText {
  font-size: 0.9rem;
 }
  .description {
    font-size: 0.9rem;
  }
  .featuresText {
    font-size: 0.9rem;
  }

  .complects {
    font-size: 0.9rem;
  }

  .galleryGrid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }

  .galleryImage {
    border-radius: 8px;
    aspect-ratio: 2 / 1;
  }
  .featuresImg {
    margin-right: 10px;
    margin-top: 0;
    align-self: center;
  }
}
@media screen and (max-width: 480px) {
 .featuresItem { 
  display: block;
 } 
}