.container {
  padding: 40px;
  /* max-width: 1000px; */
  margin: 0 auto;
  background-image: url("../../public/images/MetallWall.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 40px;
  color: #E0E0E0;
}

.description {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
  text-indent: 2em;
  margin-top: 30px;
  color: #E0E0E0;
}
.complects {
  font-size: 1.1rem;
  line-height: 1.6;
  white-space: pre-line;
  margin-top: 30px;
  color: #E0E0E0;
}
.sliderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.sliderImage {
  border-radius: 12px;
  object-fit: contain;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.arrow {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #E0E0E0;
  transition: all 0.2s ease;
}

.arrow:hover {
  transform: scale(1.2);
  color: #C2B280;
}


@media screen and (max-width: 768px) {
  .title {
    font-size: 1.4rem;
  }

  .description {
  font-size: 0.9rem;
}
.sliderImage {
  width: 300px;
  height: 300px;
}
.arrow {
  font-size: 1.5rem;
}
.sliderWrapper {
  gap: 4px;
}  
}