.scrollButton {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #354B5E;
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease;
  z-index: 1000;
}

.scrollButton:hover {
  background-color: #2563eb;
}
